.cardname{
    margin-top: 30px;
    width: 90%;
    left: 5%;
    padding: 22px;
    position: relative;
    background: white;
    border-left: 6px solid #4cd137;
}

.cardname p, .cardname h2{
    margin-bottom: 0px;
}

.cardname p{
    color: #000;
}
